/* Import Google font - Poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.cardContainer {
    display: flex;
    /* -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; */
}

.containerFrame {
    margin: 50px;
}

.imageContainer {
    width: 900px;
}

.left {
    width: 900px;
}

.right {
    width: 100%;
}

.controls {
    align-items: center;
    display: flex;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    /* background-color: #446C72; */
    /* background-color: #23333A; */
    background-color: wheat;
    height: 100%;
    border-left: 2px solid black;
}

.controls>* {
    margin: 5px;
}

.controlsContainer {
    /* position: relative; */
    /* height: 100vh; */
    /* background-color: antiquewhite; */
}

.mainContainer {
    position: relative;
    padding: 0;
    min-width: 250px;
    min-height: 250px;
    display: inline-block;
    margin: 0 auto;
}

img {
    border: none;
    /* max-width: 100%; */
}

#textArea {
    display: block;
    padding: 10px 5px;
}

#theText {
    position: absolute;
    top: 90px;
    left: 0;
    background: #000;
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
    width: auto;
    padding: 5px;
    /* text-align: right; */
    /* direction: rtl; */
    border: dashed 2px #ff7f27;
    font: 28px Calibri;
    display: block;
    cursor: move;
}

canvas {
    max-width: 100%;
}

.saveBtn {
    transition: all .5s ease;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    color: #008080;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #008080;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.saveBtn:hover,
.saveBtn:focus {
    background-color: #008080;
    color: #fff;
}

.selectImage {
    transition: all .5s ease;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    color: #008080;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #008080;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.selectImage:hover,
.selectImage:focus {
    background-color: #008080;
    color: #fff;
}

.textInput {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    text-align: right;
}

.textInput:focus {
    border-color: #008080;
    box-shadow: 0 0 8px 0 #008080;
}

#fonts {
    width: 240px;
    height: 50px;
    border-radius: 5px;
}

#fontSize {
    border-radius: 5px;
    margin-right: 5px;
}

#fontColor {
    border-radius: 5px;
    margin-right: 5px;
    text-align: right;
}

label {
    display: inline-block;
}

#myimage,
.mainContainer {
    width: 900px;
    height: 600px;
}

.credit {
    /* text-align: center; */
}


/* 
.wrapper {
    text-align: center;
}

.iii {
    display: inline-block;
    vertical-align: top;
} */
